# DRYeR tests in Jupyter Notebook

## `1.R`

In [1]:
cat("Import a CSV file and show its head\n")
df <- read.csv("https://raw.githubusercontent.com/mateuszrezler/DRYeR/tests/data/california_housing_train.csv")
print(head(df))

Import a CSV file and show its head
  longitude latitude housing_median_age total_rooms total_bedrooms population
1   -114.31    34.19                 15        5612           1283       1015
2   -114.47    34.40                 19        7650           1901       1129
3   -114.56    33.69                 17         720            174        333
4   -114.57    33.64                 14        1501            337        515
5   -114.57    33.57                 20        1454            326        624
6   -114.58    33.63                 29        1387            236        671
  households median_income median_house_value
1        472        1.4936              66900
2        463        1.8200              80100
3        117        1.6509              85700
4        226        3.1917              73400
5        262        1.9250              65500
6        239        3.3438              74000

## `2.R`

In [2]:
seq <- "CGCGATATCGCGATATCGCG"
cat(paste("DNA sequence: ", seq, end = "\n"))

cat("\nGet indices of all character elements matches in string\n")
pos <- gregexpr("AT", seq)
print(pos)

cat("Access indices\n")
print(as.vector(pos[[1]]))

cat("\nAccess lengths\n")
lens <- attr(pos[[1]], "match.length")
print(lens)

DNA sequence:  CGCGATATCGCGATATCGCG

Get indices of all character elements matches in string
[[1]]
[1]  5  7 13 15
attr(,"match.length")
[1] 2 2 2 2
attr(,"index.type")
[1] "chars"
attr(,"useBytes")
[1] TRUE

Access indices
[1]  5  7 13 15

Access lengths
[1] 2 2 2 2

## `3.R`

In [3]:
cat("Read a FASTA file and show it\n")
df <- read.table("https://raw.githubusercontent.com/mateuszrezler/DRYeR/tests/data/FASTA_sample.fa")
print(df)

cat("\nSelect rows with even indices only\n")
even_indices <- seq(2, nrow(df), 2)
print(as.vector(df$V1[even_indices]), quote = FALSE)

Read a FASTA file and show it
                                                    V1
1                                                >seq1
2  AAGCGTAAGATCCGATTTTTCCAGTTTGAGGAATAGAATTAATACTAGCTT
3                                                >seq2
4  GGTGAATAATACCATCGCGATCGCGTTGAACTTGACTAACGGTACTGGGTT
5                                                >seq3
6  GGCCTCGATACACTCTCTGCTGACGGTCGGACTCCTCTTCTTCCACAGGCG
7                                                >seq4
8  GCAATGATTATAAATATAAGAATAAAGCAGTTGTGCACGTTCGCATACCAA
9                                                >seq5
10 ACTAATGGAATATTATCGCTCGGCCATCATTACTTATTCTGAACGGCCCCA
11                                               >seq6
12 CCGGGGCACTGCATATTACCACAAATGTGTTTTCACCACCACACCCGACTA
13                                               >seq7
14 AAGCTAGCTATTGGTGCGTCGGCGTCGCAAACGAGATAAAGAAAAACCCGA
15                                               >seq8
16 GGCGCGCGACGAAACAACGAAAAAAGTGAATGCTGTCGCGCTAACTGTGCT
17                                               >seq9
18 CACAAGACTTCCAAACATCGAATTGGTCGGGTGTCCCCAACAGTCGCTCCG

Select rows with even indices only
[1] AAGCGTAAGATCCGATTTTTCCAGTTTGAGGAATAGAATTAATACTAGCTT
[2] GGTGAATAATACCATCGCGATCGCGTTGAACTTGACTAACGGTACTGGGTT
[3] GGCCTCGATACACTCTCTGCTGACGGTCGGACTCCTCTTCTTCCACAGGCG
[4] GCAATGATTATAAATATAAGAATAAAGCAGTTGTGCACGTTCGCATACCAA
[5] ACTAATGGAATATTATCGCTCGGCCATCATTACTTATTCTGAACGGCCCCA
[6] CCGGGGCACTGCATATTACCACAAATGTGTTTTCACCACCACACCCGACTA
[7] AAGCTAGCTATTGGTGCGTCGGCGTCGCAAACGAGATAAAGAAAAACCCGA
[8] GGCGCGCGACGAAACAACGAAAAAAGTGAATGCTGTCGCGCTAACTGTGCT
[9] CACAAGACTTCCAAACATCGAATTGGTCGGGTGTCCCCAACAGTCGCTCCG